body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 40px;

}
.name{
    color: darkmagenta;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 1%;
}
.halfwidth img{
    width: 100%;
    float: left;
}